button {
    width: 250px;
    height: 80px;
    font-family: Roboto, sans-serif;
    border-radius: 15px;
    font-weight: bold;
    border: 2px solid pink;
    background-color: pink;
    cursor: pointer;
    margin: 5px;
    font-size: clamp(15px, 6vw, 20px);
}

.boton-click {
    background-color: violet;
}

.boton-reiniciar {
    background-color: skyblue;
}